@import "bootstrap";
$main-color: #ff2a36;

.bg-main {
  background-color: #2f2f2f;
}

.main-color {
  color: $main-color !important;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
