<p><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%= render(ProductComponent.with_collection(@products)) %>
  </tbody>
</table>

<%= link_to "New Product", new_product_path, class: "btn btn-main m-3" %>
